<div class="container">
  <br>
   <div class="row">
      <div class="col s3 teal">
        <span><i class="large material-icons white-text">recent_actors</i></span>
      </div>
      <div class="col s3 ">2</div>
      
    </div>
  <br>
</div>