<!-- <div class="carousel">
    <a class="carousel-item" href="#one!"><%= image_tag "one.png" %></a>
    <a class="carousel-item" href="#two!"><%= image_tag "two.png" %></a>
    <a class="carousel-item" href="#three!"><%= image_tag "three.png" %></a>
    <a class="carousel-item" href="#four!"><%= image_tag "four.png" %></a>
    <a class="carousel-item" href="#five!"><%= image_tag "five.png" %></a>
</div>  -->
<!--       
<div class="container">
	<h1>Home#index</h1>
	<p class="z-depth-5 flow-text" >Find me in app/views/home/index.html.erb</p>

  <div class="card-panel hoverable"><a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a> &nbsp; Hoverable Card Panel</div>
        <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
</div> -->

<div class="container head" align="center">
	<br>
	<h1><b><span style="color: gray;font-family: 'Balsamiq Sans', cursive;" >I Write</span> <span style="color: green;font-family: 'Balsamiq Sans', cursive;">Code</span></b></h1>
	<!-- <hr> -->
</div>
<!--   <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><%= image_tag "one.png" %></a>
    <a class="carousel-item" href="#two!"><%= image_tag "two.png" %></a>
    <a class="carousel-item" href="#three!"><%= image_tag "three.png" %></a>
    <a class="carousel-item" href="#four!"><%= image_tag "four.png" %></a>
  </div> -->

  	<div class="parallax-container">
      <div class="parallax"><%= image_tag "three.png" %></div>
    </div>
    <div class="section khaki" align="center" >
      <h2 class="header">Merchendies</h2>
      <div class="row container">
        <div class="carousel">
		    <a class="carousel-item" href="#one!"><%= image_tag "t1.jpg" %></a>
		    <a class="carousel-item" href="#two!"><%= image_tag "t2.jpg" %></a>
		    <a class="carousel-item" href="#three!"><%= image_tag "t3.jpg" %></a>
		    <a class="carousel-item" href="#four!"><%= image_tag "t4.jpg" %></a>
		    <a class="carousel-item" href="#five!"><%= image_tag "t5.jpg" %></a>
		</div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag "one.png"%></div>
    </div>
    <div class="section khaki">
      <div class="row container">
        <div class="col s4" >
          <%= image_tag "t1.jpg",class:"responsive-img"  %>
        </div>
        <div class="col s8">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag "four.png" %></div>
	</div>