// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sidenav-overlay{
	z-index: 99!important;
}
.menu{
	position:fixed;
	padding:20px;
	z-index: 999;
	color:white;
	font-size: 20;
}