<div class="container session-box">
  
    <br>
    <h3>Log in</h3>
    <%= form_for(resource, as: resource_name, url: user_session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,required:true  %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", required:true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <label>
            <%= f.check_box :remember_me %>
            <span>Remember me</span>
          </label>
        </div>
      <% end %>
      <br>
      <div class="actions">
        <%= f.submit "Log in" ,class:"waves-effect waves-dark btn pulse" %>
      </div>
    <% end %>

    <br>
    <%= render 'devise/shared/links' %>
</div>
