/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("lime", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "toastr";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: khaki;
  }

  main {
    flex: 1 0 auto;
  }
      
.khaki{
	background: khaki;
}
.session-box{
	padding: 20px;
}