<div class="container">
	<div class="row">
	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <!-- <img src="images/sample-1.jpg"> -->
	          <%= image_tag "one.png" %>
	          <span class="card-title">Card Title</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>


	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <!-- <img src="images/sample-1.jpg"> -->
	          <%= image_tag "one.png" %>
	          <span class="card-title">Card Title</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>


	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <!-- <img src="images/sample-1.jpg"> -->
	          <%= image_tag "one.png" %>
	          <span class="card-title">Card Title</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>


	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <!-- <img src="images/sample-1.jpg"> -->
	          <%= image_tag "one.png" %>
	          <span class="card-title">Card Title</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>


	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-image">
	          <!-- <img src="images/sample-1.jpg"> -->
	          <%= image_tag "one.png" %>
	          <span class="card-title">Card Title</span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
	        </div>
	        <div class="card-content">
	          <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>
  </div>
</div>