
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
	// $(document).ready(()=> alert("working") );

	// $(".dropdown-trigger").dropdown();
      
   //    document.addEventListener('DOMContentLoaded', function() {
	  //   var elems = document.querySelectorAll('.carousel');
	  //   var instances = M.Carousel.init(elems, options);
	  // });

	  // Or with jQuery

	  $(document).ready(function(){
	    // $('.carousel').carousel();
      $('.tooltipped').tooltip();
	  });


	  // Or with jQuery

	  // $('.carousel.carousel-slider').carousel({
	  //   fullWidth: true,
	  //   indicators: true
	  // });
	  // $(document).ready(function(){
	  //   $('.parallax').parallax();
	  // });


	  // sidenav
	    $(document).ready(function(){
		    $('.sidenav').sidenav();
		  });
        

    // toaste
          	 
   
    <% unless flash.empty? %>
     <% flash.each do |f| %>
        <% type = f[0].to_s %>
        Swal.fire({
          position: 'top-end',
          icon: '<%= type %>',
          title: '<%= f[1] %>',
          showConfirmButton: true,
          timer: 1500
        });
       <% end %>
     <% end %>
</script>	