 <div class="navbar-fixed">
  <nav> <!-- navbar content here  --> </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <%= image_tag "two.png"  %>
      </div>
      <a href="#user"><%= image_tag "t1.jpg" ,class: "circle" %> </a>
      <!-- <a href="#name"><span class="white-text name">John Doe</span></a> -->
      <a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
      <a href="<%= destroy_user_session_path %>" data-method="delete" >Logout</a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  
       
</div>
<a href="#" data-target="slide-out" class="sidenav-trigger menu" ><i class="material-icons">menu</i></a>