
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>


<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
	// $(document).ready(()=> alert("working") );

	$(".dropdown-trigger").dropdown();
      
   //    document.addEventListener('DOMContentLoaded', function() {
	  //   var elems = document.querySelectorAll('.carousel');
	  //   var instances = M.Carousel.init(elems, options);
	  // });

	  // Or with jQuery

	  $(document).ready(function(){
	    $('.carousel').carousel();
      $('.tooltipped').tooltip();
	  });


	  // Or with jQuery

	  $('.carousel.carousel-slider').carousel({
	    fullWidth: true,
	    indicators: true
	  });
	  $(document).ready(function(){
	    $('.parallax').parallax();
	  });


    // toaste
           
   
    <% unless flash.empty? %>
     <% flash.each do |f| %>
        <% type = f[0].to_s %>
        Swal.fire({
          position: 'top-end',
          icon: '<%= type %>',
          title: '<%= f[1] %>',
          showConfirmButton: true,
          timer: 1500
        });
       <% end %>
     <% end %>
</script>	